* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    z-index: 1;
}

body {
    background-color: black;
    color: white;
}


header {
    background-image: url(assests/netflix.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
    position: relative;



}

header .box {
    background-color: black;
    height: 80vh;
    width: 100%;
    opacity: 0.7;
    position: absolute;




}

.curved-sec {
    position: relative;
    height: 100px;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    overflow: hidden;
    width: 130%;
    left: -15%;
}

.curved-sec::before {
    position: absolute;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    height: 6px;
    content: "";
    top: 4px;
    left: 0.5px;
    right: 0.5px;
    border-radius: 70% 70% 0 0 / 100% 100% 0 0;
    z-index: -1;
    margin-top: -.25rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: relative;
    max-width: 80vw;
    margin: 0px 150px 0px 100px;
    height: 20px;
    top: 20px;

}

nav img {
    z-index: 10;
}

.btn {
    border-radius: 6%;
    color: white;
    background-color: white;
    font-size: larger;
    font-weight: 500;
    padding: 16px;

}

.btn-sign {
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 4px;
    padding: 16px;
    font-size: larger;
    height: 50px;
    width: 187px;
    font-family: sans-serif;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10;
    position: relative;
    max-width: 38vw;
    height: 100%;
    margin: auto;
}

.heading1 {
    font-size: 50px;
    font-weight: 700px;
    text-align: center;
    margin: 0px 0px 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;

}

.content span {
    font-weight: bolder;
    text-align: center;
    margin: 0px 0px 13px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.content p {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0px 0px 10px;
}

.search {
    display: flex;
    gap: 5px;


}

.btn-start {
    color: white;
    background-color: rgb(230, 0, 0);
    padding: 5px 20px 8px 16px;
    border: 4px;
    font-weight: larger;
    font-size: 22px;
    border-radius: 7px;
    font-family: sans-serif;
}

.input-search {
    background-color: rgb(25, 25, 25, 0.5);
    border: 4px;
    border-radius: 7px;
    padding: 10px 90px 8px 16px;


}

.lan-select {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 50px;
    padding: 4px 10px 6px 20px;


}

.lan-select select {
    background-color: black;
    color: #FFFFFFB3;
    font-family: sans-serif;



    font-weight: 650px;
    font-size: 1rem;
    font-weight: bolder;

    border: none;

}


.container {
    height: 500px;
    max-width: 1160px;
    width: 100%;
    margin-top: 0px;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-bottom: 100px;

}

.section-title {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 25px;

}

.slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.card {
    position: relative;
    flex: 0 0 auto;
    height: 300px;
    width: 200px;
    scroll-snap-align: start;
    overflow: visible;
    padding: 15px 10px;
    transition: transform 0.3s ease;

}

.card:hover {
    transform: scale(1.1);
    z-index: 10;



}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.number {
    position: absolute;
    bottom: 15px;
    left: -5px;
    font-size: 100px;
    color: black;
    -webkit-text-stroke: 2px white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container2 {
    margin-top: 30px;
    margin-right: 12vw;
    height: 500px;
    width: 1160px;


}

h2 {
    font-family: sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.section {
    display: flex;
    gap: 10px;
    width: 1250px;
    height: 280px;
}

.card2 {

    height: 270px;
    width: 300px;
    flex: 10px 10px 10px 10px;
    background: linear-gradient(180deg, #1e1e3f 50%, #210e18 100%);
    padding: 15px 15px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card2 h3 {
    font-size: 24px;
    font-family: sans-serif;

}

.card2 p {
    color: #FFFFFFB3;
    font-size: 16px;
    font-family: sans-serif;
}

.smallimg {
    height: 72px;
    width: 72px;
    position: relative;
    left: 180px;
    top: 10px;
    color: #2e1424;
}

.container3 {
    margin-top: 30px;
    margin-right: 12vw;
    height: 500px;
    width: 1160px;

}

h4 {

    font-family: sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.quesbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px;
    font-size: 24px;
    font-family: sans-serif;
    background-color: #2d2d2d;
    width: 1216px;
    height: 84px;
    margin: 10px auto;

}

.quesbox:hover {
    background-color: #4d4d4d;
}

.content2 {

    width: 1217px;
    height: 96px;
    text-align: center;
    margin-top: 50px;

}

.content2 p {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0px 0px 18px;
    max-gap: 20px;
}

.content2 .searching {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;

}

.content2 #search {
    background-color: rgba(25, 25, 25, 0.5);
    padding: 24px 16px 8px;
    width: 570px;
    height: 56px;
    font-size: larger;
}

.content2 .btn-start {
    height: 56px;
    width: 207px;
    padding: 16px;

}

footer {
    height: 465px;
    width: 1217px;
    margin: 36px;

}

footer .call {
    width: 250px;
    height: 17px;
    font-size: 16px;
    font-family: sans-serif;
    color: #FFFFFFB3;


}

.foot-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin-top: 20px;

}

.foot a {
    color: white;
    font-size: small;
    font-family: sans-serif;
    padding-top: 10px;
    font-size: 14px;
    color: #FFFFFFB3;
}

.foot {
    display: flex;
    flex-direction: column;

    gap: 5px;
    padding-top: 20px;

}

.lan-select {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 50px;
    padding: 4px 10px 6px 20px;


}

.lan-select select {
    background-color: black;
    color: #FFFFFFB3;
    font-family: sans-serif;
    font-weight: 650px;
    font-size: 1rem;
    font-weight: bolder;

    border: none;

}

footer p {

    font-size: 14px;
    font-family: sans-serif;
    margin-top: 20px;
    color: #FFFFFFB3;
    padding-top: 20px;

}

#para {
    font-size: 13px;
    font-family: sans-serif;
    color: #FFFFFF80;
}

#para a {
    color: rgb(68, 142, 244);
}